i/**
  * IMGMI (Default) Style Sheet 
  *   * Adam Shannon
  *     * 07/05/2009
  *       */
  
  body {
  	height: 100%;
		overflow: hidden;
			width: 100%;
			}

			address {
				font-style: normal;
				}

					nav {
							margin-left: 33%;
								}
										nav a, nav a:hover{
													color: #000000;
																font-size: 1.10em;
																			font-weight: bold;
																						margin-right: 25px;
																									text-align: center;
																												text-decoration: underline;
																														}
																																
																																		
																																			header img {
																																					margin: 20px 0.0% 20px 41.0%;
																																						}
																																							
																																								section, section form {
																																										margin-left: 25%;
																																											}
																																													section {
																																																height: 225px;
																																																			width: 768px;
																																																					}
																																																								section p {
																																																												margin-left: 10%;
																																																																width: 100%;
																																																																			}
																																																																						section header {
																																																																										font-size: 2em;
																																																																														font-weight: bold;
																																																																																		margin-left: -50%;
																																																																																					}
																																																																																										section p span {
																																																																																															text-decoration: underline;
																																																																																																			}
																																																																																																								section p span:hover {
																																																																																																														cursor: pointer;
																																																																																																																			}
																																																																																																																								
																																																																																																																									footer {
																																																																																																																											font-size: 0.85em;
																																																																																																																													text-align: center;
																																																																																																																															width: 100%;
																																																																																																																																}
																																																																																																																																		footer p a {
																																																																																																																																					color: #000000;
																																																																																																																																								text-decoration: none;
																																																																																																																																										}
																																																																																																																																										  
